.drink-info {
    max-width: 800px;
    margin: 0 auto 0 auto;
}

.drink-info img {
    margin: 0 auto 0 auto;
    border-radius: 4px;
    width: 100%;
}

.ingredients {
    padding: 1px;
    border-radius: 4px;
}

.ingredients h3 {
    font-weight: normal;
}

.ingredients p {
    margin-right: 0 1rem 0 1rem;
    font-size: 12pt;
}


ul {
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

.ingredients li:nth-child(1) {
    border-top: 1px solid lightgray;
}

.ingredients li {
    padding: 0.75rem;
    padding-left: 1rem;
    border-bottom: 1px solid lightgray;
}

.tag-list {
    margin: 1rem 0 2rem;
    display: flex;
    flex-Wrap: wrap;
    gap: 0.5rem;
    justify-Content: center;
}

@media screen and (min-width: 500px) {
    .drink-info img {
        max-width: 50%;
    }
}