.drink-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.drink-list-item>p {
    text-align: center;
}

.drink-list-item div {
    width: 100%;
    max-width: 250px;
}

.drink-list-item img {
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .drink-list-item {
        font-size: 14pt;
    }
}