.drink-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.5rem;
  padding-top: 1rem;
  margin: 0 auto 0 auto;
  justify-items: center;
}

.page-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404653;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.page-indicator>span {
  padding: 0.4rem;
  border-radius: 6px;
  cursor: pointer;
}

.page-indicator>span:not(.material-icons) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;
}

.page-indicator>.material-icons {
  user-select: none;
  background-color: #dadef0;
}

.current-page {
  background-color: #dadef0;
}

.indicator-disabled {
  opacity: 0.4;
}

@media screen and (hover:hover) {
  .page-indicator>.material-icons:hover:not(.indicator-disabled) {
    background-color: #b7bbca;
    cursor: pointer;
  }

  .page-indicator>span:hover:not(.current-page) {
    background-color: rgba(218, 222, 240,0.5);
  }
}

@media screen and (min-width: 375px) {
  .drink-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}