.search-bar {
    display: flex;

    /* border-bottom: 1px solid #a8b0c0; */
    border: 1px solid #a8b0c0;
    border-radius: 6px;
    overflow: hidden;
    padding-left: 8px;
}

input {
    border: none;
    outline: none;
    width: 100%;
}

.search-bar img {
    user-select: none;
    margin-left: 4px;
    width: 32px;
    height: 32px;
}

.search-bar>div {
    margin: 2px;
    cursor: pointer;
    border-radius: 6px;
}

.search-bar>div:hover {
    background-color: #a8b0c0;
}

.search-bar>div:hover>img {
    filter: brightness(10);
}

.search-results {
    font-size: 12pt;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
    position: absolute;
    border-radius: 6px;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
}

.hidden {
    display: none;
}

.search-result-item p {
    margin: 0;

    padding-left: 1rem;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.search-result-item > p:hover {
    background-color: #e2e6ec;
}

@media screen and (min-width: 500px) {
    .search-results {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .search-results {
        left: 50%;
    }
}