
@font-face {
  font-family: AustralisProBoldItalic;
  src: url("./assets/fonts/AustrProBolIta.otf");
  color: black;
}

header {
  font-family: AustralisProBoldItalic;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  color: white;
  min-height: 8vh;
}

header > h1 {
  font-size: 32pt;
  color: #404653;
}